@font-face {
  font-family: 'poppins';
  src: url('../fonts/Poppins-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quicksand';
  src: url('../fonts/Quicksand-Bold.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}

#mobile-outline {
   outline: 20px solid hsl(0, 0%, 20%);
   max-width: 412px;
   margin: 20px auto 20px auto;
   border-radius: 10px;
   background: #fffde9;
}

body {
   font-family: "poppins", Arial, Helvetica, sans-serif;
   font-size: 18px;
   color: rgb(92, 46, 4);
   font-weight: 100;
}

p {
   margin-top: 30px;
   margin-bottom: 40px;
   color: #523838
}

h2 {
   font-family: "quicksand", Arial, Helvetica, sans-serif;
   font-size: 64px;
   text-align: center;
   letter-spacing: 3px;
   margin-bottom: 40px;
   margin-top: 20px;
   color: rgb(92, 46, 4);
   text-shadow: 4px 4px 0px #e6b42a;
   text-decoration-style: wavy;
}

h2 + p::first-letter {
  float: left;
  font-family: "quicksand", Georgia;
  font-weight: 1000;
  color:rgb(92, 46, 4);
  background-color: rgb(211, 130, 55);
  border-radius: 100px;
  font-size: 48px;
  margin-right: 10px;
  padding: 10px 19px 17px 15px;
  line-height: 1;
}

span {
   font-weight: 800;
   text-shadow: 2px 1px 0px #e6b42a;
}

.border {
   border: 5px solid  rgb(92, 46, 4);
   box-shadow: 0px 5px 0px #e6b42a;
   border-radius: 20px;
}

.dashed-line {
  border-top: 5px dashed #e6b42a;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#main-hero {
   margin-top: 20px;
   margin-bottom: 20px;
}

#footer-hero {
   margin-bottom: 30px;
}

#footer {
   text-align: center;
   padding-bottom: 10px;
}

footer p {
   font-weight: 800;
}