#mobile-outline {
   outline: 20px solid #333;
   max-width: 412px;
   margin: 20px auto 20px auto;
   border-radius: 10px;
   background: #efefef;
}

body {
   font-family: "Catamaran", Arial, Helvetica, sans-serif;
   font-size: 20px;
   color: #131313;
   font-weight: 100;
}

p {
   margin-bottom: 20px;
   color: #363636
}

h2 {
   font-family: 'Lato', Arial, Helvetica, sans-serif;
   font-size: 56px;
   letter-spacing: 3px;
   margin-bottom: 30px;
   margin-top: 20px;
   background-color: rgb(75, 75, 75);
   padding: 15px;
   color: #fff;
   box-shadow: 5px 5px 0px #bd2ae6;
}

h3 {
   font-family: 'Lato', Arial, Helvetica, sans-serif;
   font-size: 42px;
   margin-top: 30px;
   margin-bottom: 20px;
}