@font-face {
  font-family: 'poppins';
  src: url('../fonts/Poppins-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#mobile-outline {
   outline: 20px solid hsl(0, 0%, 20%);
   max-width: 412px;
   margin: 20px auto 20px auto;
   border-radius: 10px;
   background: #efefef;
}

body {
   font-family: "poppins", Arial, Helvetica, sans-serif;
   font-size: 18px;
   color: #131313;
   font-weight: 100;
}

p {
   margin-top: 30px;
   margin-bottom: 30px;
   color: #5a5a5a
}

h2 {
   font-family: 'Lato', Arial, Helvetica, sans-serif;
   font-size: 56px;
   letter-spacing: 3px;
   margin-bottom: 30px;
   margin-top: 20px;
   background-color: rgb(75, 75, 75);
   padding: 15px;
   color: #fff;
   box-shadow: 5px 5px 0px #bd2ae6;
}

h3 {
   font-family: 'Lato', Arial, Helvetica, sans-serif;
   font-size: 42px;
   margin-top: 30px;
   margin-bottom: 20px;
}

.border {
   border: 5px solid rgb(153, 75, 51);
   box-shadow: 0px 5px 0px #e6b42a;
}