@font-face {
  font-family: 'poppins';
  src: url('../fonts/Poppins-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#mobile-outline {
   outline: 20px solid hsl(0, 0%, 20%);
   max-width: 412px;
   margin: 20px auto 20px auto;
   border-radius: 10px;
   background: #fffde9;
}

body {
   font-family: "poppins", Arial, Helvetica, sans-serif;
   font-size: 18px;
   color: #131313;
   font-weight: 100;
}

p {
   margin-top: 30px;
   margin-bottom: 40px;
   color: #523838
}

h2 {
   font-family: 'Lato', Arial, Helvetica, sans-serif;
   font-size: 56px;
   letter-spacing: 3px;
   margin-bottom: 30px;
   margin-top: 20px;
   padding: 15px;
   border-radius: 20px;
   color: rgb(92, 46, 4);
   border: 5px solid  rgb(92, 46, 4);
   box-shadow: 0px 5px 0px #e6b42a;
   text-decoration-style: wavy;
}

h2 + p::first-letter {
  float: left;
  font-family: Georgia;
  color:rgb(92, 46, 4);
  background-color: rgb(211, 130, 55);
  border-radius: 100px;
  font-size: 48px;
  margin-right: 10px;
  margin-bottom: -1px;
  padding: 10px 19px 10px 15px;
  line-height: 1;
}


.border {
   border: 5px solid  rgb(92, 46, 4);
   box-shadow: 0px 5px 0px #e6b42a;
   border-radius: 20px;
}